/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Correct the line height in all browsers.
 */
html {
  line-height: 1.15;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
}

/**
 * Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

.container {
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1919.98px) {
  .container {
    max-width: cacl(1012px);
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1760px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font), sans-serif;
  font-weight: 700;
  line-height: 1.78;
  color: var(--main-color);
  background-color: var(--bg-color);
}

@media screen and (max-width: 979.98px) {
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 980) and (max-width: 1919.98px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1920px) {
  body {
    font-size: var(--main-fontSize);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul li {
  margin-top: 0;
  margin-right: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Gilroy-Extrabold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
}

.section {
  height: 100vh;
}

@media screen and (max-width: 1919.98px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 468px) {
  .section-text {
    max-width: 230px;
  }
}

@media screen and (max-width: 468px) {
  .section-title {
    font-size: 24px;
  }
}

.section__img {
  height: 70vh;
}

.section-title,
.hero__title {
  font-family: var(--accent-font);
  font-weight: 600;
}

.section-title {
  line-height: 1.2;
}

@media screen and (max-width: 679.98px) {
  .section-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 680px) and (max-width: 1919.98px) {
  .section-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1920px) {
  .section-title {
    font-size: var(--sectionTitle-fontSize);
  }
}

.hero__title {
  line-height: 1.14;
}

@media screen and (min-width: 468px) and (max-width: 978.98px) {
  .hero__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1919.98px) {
  .hero__title {
    font-size: 68px;
  }
}

@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: var(--heroTitle-fontSize);
  }
}

.section-pretitle {
  line-height: var(--rare-lineHeight);
  color: var(--accent-color);
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.logo {
  font-family: var(--accent-font);
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.registration-btn__icon {
  fill: var(--main-color);
}

.social-list__icon {
  fill: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .social-list__icon {
    transform: rotate(-90deg);
    animation: fills 10500ms linear;
    animation-iteration-count: infinite;
  }
}

@keyframes fills {
  0% {
    fill: var(--main-color);
  }
  25% {
    fill: var(--bg-color);
  }
  50% {
    fill: var(--accent-color);
  }
  100% {
    fill: var(--main-color);
  }
}

.hero__link-icon {
  fill: var(--main-color);
}

.section__link-icon {
  fill: var(--accent-color);
  margin-left: 16px;
}

.section-pretitle {
  display: flex;
  align-items: center;
}

.section-pretitle::before {
  content: '';
  width: 72px;
  height: 2px;
  margin-right: 24px;
  background-color: var(--accent-color);
}

.wrapper--bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/hero-1x.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper--bg {
    background-image: url(/images/hero-2x.jpg);
  }
}

.wrapper--bg-gradient {
  background: linear-gradient(367.24deg, rgba(11, 29, 38, 0) -39.94%, #0b1d26 104.93%);
}

.form {
  margin-left: 143px;
  padding-bottom: 66px;
  text-align: center;
  display: flex;
}

.form--position {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.form__textarea {
  overflow: hidden;
  resize: none;
  display: block;
  border: none;
  border-bottom: 1px solid gold;
  padding: 15px 0 15px 15px;
  margin-bottom: 15px;
  width: calc((100% - 30px) / 2);
  height: 95px;
  background-color: #072522;
  border-radius: 15px;
  outline: none;
}

.form__email {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid gold;
  background-color: #072522;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.form__button {
  border: none;
  display: inline-block;
  width: calc(100% / 2);
  background-color: chartreuse;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1500ms, visibility 1500ms;
}

.backdrop {
  z-index: 105;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 184, 17, 0.2);
  opacity: 1;
  transition: opacity 1500ms;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 100%;
  max-width: 528px;
  min-height: 300px;
  max-height: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: red;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms ease-in-out 250ms;
}

@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__btn-close .icon {
  width: 11px;
  height: 11px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 1500ms, fill 1500ms;
}

.modal__btn-close:hover {
  fill: var(--accent-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: transparent;
}

.header {
  padding-top: 24px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.registration-btn {
  padding: 24px 0;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: inherit;
  font-size: 17px;
  line-height: 1.23;
  color: inherit;
  cursor: pointer;
}

.registration-btn__text {
  margin-left: 8px;
}

.hero {
  padding-top: 174px;
  padding-bottom: 603px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1919.98px) {
  .hero {
    padding-top: 130px;
    padding-bottom: 84px;
  }
}

.hero__title {
  max-width: 950px;
  margin-bottom: 56px;
}

@media screen and (max-width: 979.98px) {
  .hero__title {
    max-width: 527px;
  }
}

.hero--center {
  max-width: 950px;
  margin: 0 auto;
}

@media screen and (max-width: 676px) {
  .hero--center {
    max-width: 404px;
  }
}

.social-list {
  position: absolute;
  display: flex;
  bottom: 40px;
  right: 5%;
}

.social-list__item:not(:first-child) {
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 1200px) {
  .social-list {
    position: fixed;
    height: 24px;
    top: 280px;
    left: -90%;
    transform: rotate(90deg) translateX(50%);
  }
  .social-list__link {
    transform: rotate(-90deg);
  }
  .social-list__item:not(:last-child) {
    margin-right: 24px;
  }
  .social-list__item:first-child {
    align-self: center;
    line-height: 22px;
  }
}

.hero__pretitle {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.hero__pretitle::before {
  content: "";
  width: 72px;
  height: 2px;
  margin-right: 32px;
  background-color: var(--accent-color);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__link-icon {
  padding: 5px;
  animation: down 1500ms linear;
  animation-iteration-count: infinite;
}

.hero__link--position {
  margin-right: 18px;
  color: inherit;
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(20px);
  }
}

.site-nav-bar {
  z-index: 100;
  display: flex;
  text-align: end;
  position: fixed;
  right: 3%;
  top: 190px;
}

.site-nav__item {
  transition: color 350ms;
}

.site-nav__item:hover, .site-nav__item:focus {
  color: var(--accent-color);
}

.site-nav__link {
  display: block;
  padding-bottom: 20px;
  text-decoration: none;
  color: inherit;
}

.top--height {
  height: 100vh;
}

@media screen and (max-width: 979.98px) {
  .section-block--none {
    display: none;
  }
}

.section-get {
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 47.38%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1919.98px) {
  .section-block:first-child {
    max-width: 380px;
    margin-right: 45px;
  }
}

@media screen and (min-width: 1920px) {
  .section-block:first-child {
    max-width: 632px;
    margin-right: 114px;
  }
}

.section__link {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.section--show {
  opacity: 0;
  transform: translateY(20px);
}

.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

@media screen and (max-width: 1920px) {
  .essentials .section-block {
    max-width: none;
  }
}

@media screen and (max-width: 979.98px) {
  .essentials .section-block:last-child {
    margin-left: 0;
    max-width: 380px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1919.98px) {
  .essentials .section-block:last-child {
    max-width: 380px;
    margin-left: 45px;
  }
}

@media screen and (min-width: 1920px) {
  .essentials .section-block:last-child {
    max-width: 632px;
    margin-left: 114px;
  }
}

.footer-section {
  height: 100vh;
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-grid:first-child {
  flex-basis: calc(100% - 990px);
}

.footer__wrapper--position {
  justify-content: space-between;
  flex-basis: calc(50% /2);
  display: flex;
}

.footer-list__item {
  font-size: 14px;
}

.footer-list__item:first-child {
  margin-bottom: 24px;
}

.footer-list__item:nth-child(2) {
  max-width: 303px;
}

.footer-list__item:last-child {
  margin-top: 122px;
  font-weight: 500;
  opacity: 0.5;
}

.footer__menu-item {
  font-size: 14px;
  font-weight: 500;
}

.footer__menu-item:not(:first-child) {
  margin-top: 16px;
}

.footer__menu {
  font-size: 14px;
}

.footer__menu-item:first-child {
  font-size: 24px;
  line-height: 1.33;
  color: var(--accent-color);
  margin-bottom: 24px;
}

.progress-container {
  margin-left: 20px;
  width: 3px;
  max-height: 375px;
}

.line {
  width: 5px;
  background-color: var(--main-color);
  height: 0;
  transition: .3s all;
}

:root {
  --main-font: 'Gilroy';
  --accent-font: 'Chronicle Display';
  --main-fontSize: 18px;
  --bg-color: rgba(11, 29, 38, 1);
  --main-color: #ffffff;
  --accent-color: #FBD784;
  --sectionTitle-fontSize: 64px;
  --heroTitle-fontSize: 88px;
  --rare-lineHeight: 1.22;
  --font-num-after: 240px;
}

.section-get--after {
  position: relative;
}

.section-get--after::after {
  position: absolute;
  color: #fff;
  opacity: 0.2;
  content: "01";
}

@media screen and (max-width: 675.98px) {
  .section-get--after::after {
    left: -12%;
    top: -46%;
    font-size: 160px;
  }
}

@media screen and (min-width: 676px) {
  .section-get--after::after {
    left: -24%;
    top: -46%;
    font-size: 240px;
  }
}

.section-essentials--after {
  position: relative;
}

.section-essentials--after::after {
  position: absolute;
  color: #fff;
  opacity: 0.2;
  content: "02";
}

@media screen and (max-width: 675.98px) {
  .section-essentials--after::after {
    left: -12%;
    top: -46%;
    font-size: 160px;
  }
}

@media screen and (min-width: 676px) {
  .section-essentials--after::after {
    left: -24%;
    top: -46%;
    font-size: 240px;
  }
}

.section-where--after {
  position: relative;
}

.section-where--after::after {
  position: absolute;
  color: #fff;
  opacity: 0.2;
  content: "03";
}

@media screen and (max-width: 675.98px) {
  .section-where--after::after {
    left: -12%;
    top: -46%;
    font-size: 160px;
  }
}

@media screen and (min-width: 676px) {
  .section-where--after::after {
    left: -24%;
    top: -46%;
    font-size: 240px;
  }
}
/*# sourceMappingURL=styles.css.map */