<section class="section essentials">
  <div class="container grid">
    <div class="wrapper">
      <div class="section-block">
        <picture>
          <source
            srcset="./images/2-1x.jpg 1x, ./images/2-2x.jpg 2x"
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          
          <img src="./images/2-1x.jpg" alt="mntn" width="566" />
        </picture>
      </div>
      <div class="section-block">
        <p class="get__pretitle section-pretitle">Hiking Essentials</p>
        <h2 class="get__title section-title">Picking the right Hiking Gear!</h2>
        <p class="get__text section-text">
          The nice thing about beginning hiking is that you don’t really need any special gear, you
          can probably get away with things you already have. Let’s start with clothing. A typical
          mistake hiking beginners make is wearing jeans and regular clothes, which will get heavy and
          chafe wif they get sweaty or wet.
        </p>
        <a class="get__link section__link link" href="">
          <span> read more </span>
          <svg class="section__link-icon" width="16" height="24">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
