<footer class="footer-section">
    <div class="container footer">
        <ul class="list footer-list footer-grid footer-list--grid">
            <li class="footer-list__logo footer-list__item"><a class="link logo" href="">MNTN</a></li>
            <li class="footer-list__slogan footer-list__item">Get out there & discover your next slope, mountain & destination!</li>
            <li class="footer-list__copyright footer-list__item">Copyright 2019 MNTN, Inc. Terms & Privacy</li>
        </ul>
        <div class="footer__wrapper--position footer-grid">
            <ul class="list footer-list footer__menu">
                <li class="footer__menu-title footer__menu-item">More on The Blog</li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">About MNTN</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">Contributors & Writers</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">Write For Us</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">Contact Us</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">Privacy Policy</a></li>
            </ul>
            <ul class="list footer-list footer__menu">
                <li class="footer__menu-title footer__menu-item">More on MNTN</li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">The Team</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">Jobs</a></li>
                <li class="footer__menu-item"><a class="footer__menu-link link" href="">Press</a></li>
            </ul>
        </div>
    </div>
</footer>