<section class="section section-get">
  <div class="container get grid">
    <div class="wrapper">
      <div class="section-block">
        <p class="get__pretitle section-pretitle">GEt Started</p>
        <h2 class="get__title section-title">What level of hiker are you?</h2>
        <p class="get__text section-text">
          Determining what level of hiker you are can be an important tool when planning future
          hikes. This hiking level guide will help you plan hikes according to different hike
          ratings set by various websites like All Trails and Modern Hiker. What type of hiker are
          you – novice, moderate, advanced moderate, expert, or expert backpacker?
        </p>
        <a class="get__link section__link link" href="">
          <span> read more </span>
          <svg class="section__link-icon" width="16" height="24">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
      <div class="section-block">
        <picture>
          <source srcset="./images/1-1x.jpg 1x, ./images/1-2x.jpg 2x" type="image/jpg" />
          <img src="./images/1-1x.jpg" alt="mntn" width="566" />
        </picture>
      </div>
    </div>
  </div>
</section>
