<header class="header">
  <div class="container header__container">
    <a class="logo header__logo link" href="#">MNTN</a>
    <nav class="header-nav">
      <ul class="header-nav__list list">
        <li class="header-nav__item"><a class="header-nav__link link" href="">Equipment</a></li>
        <li class="header-nav__item"><a class="header-nav__link link" href="">About us</a></li>
        <li class="header-nav__item"><a class="header-nav__link link" href="">Blog</a></li>
      </ul>
    </nav>
    <button class="header__btn registration-btn">
      <svg class="registration-btn__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-account"></use>
      </svg>
      <span class="registration-btn__text">Account</span>
    </button>
  </div>
</header>
