.registration-btn__icon{
    fill: var(--main-color);
}
.social-list__icon{
    fill: var(--main-color);
    @media screen and (min-width: 1200px) {
        transform: rotate(-90deg);
        animation: fills 10500ms linear;
        animation-iteration-count: infinite;

    }
    @keyframes fills {
        0%{
            fill: var(--main-color);
        }
        25%{
            fill: var(--bg-color);
        }
        50%{
            fill: var(--accent-color)
        }
        100%{
            fill: var(--main-color);
        }
    }
}
.hero__link-icon{  ///// scroll down -- btn ///
    fill: var(--main-color);
}
.section__link-icon{
    fill: var(--accent-color);
    margin-left: 16px;
}