.registration-btn__icon{
    fill: var(--main-color);
}
.social-list__icon{
    fill: var(--main-color);
    transform: rotate(-90deg);
}
.hero__link-icon{  ///// scroll down -- btn ///
    fill: var(--main-color);
}
.section__link-icon{
    fill: var(--accent-color);
    margin-left: 16px;
}