@mixin bgnum {
    position: absolute;
    @media screen and (max-width: 675.98px) {
        left: -12%;
        top: -46%;

        font-size: 160px;
    }
    @media screen and (min-width: 676px) {
        left: -24%;
        top: -46%;
    
        font-size: 240px;
    }
    color: #fff;
    opacity: 0.2;
}
.section-get--after{
    position: relative;
    &::after{
        @include bgnum;
        content: "01";
    }
}
.section-essentials--after{
    position: relative;
    &::after{
        @include bgnum;
        content: "02";
    }
}
.section-where--after{
    position: relative;
    &::after{
        @include bgnum;
        content: "03";
    }
}