.section-title,
.hero__title{
    font-family: var(--accent-font);
    font-weight: 600;
}

.section-title{
    @media screen and (max-width: 679.98px) {
        font-size: 24px;
    }
    @media screen and (min-width: 680px) and (max-width: 1919.98px) {
        font-size: 48px;
    }
    @media screen and (min-width: 1920px) {
        font-size: var(--sectionTitle-fontSize);
    }
    line-height: 1.2;
}

.hero__title{
    @media screen and (min-width: 468px) and (max-width: 978.98px) {
    font-size: 48px;
    }
    @media screen and (min-width: 980px) and (max-width: 1919.98px) {
        font-size: 68px;
    }
    @media screen and (min-width: 1920px) {
        font-size: var(--heroTitle-fontSize);
    }
    line-height: 1.14;
}

.section-pretitle{
    line-height: var(--rare-lineHeight);
    color: var(--accent-color);
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;  
}