$main-font: 'Gilroy';
$rare-font: 'Chronicle Display';
:root{
    --main-font: 'Gilroy';
    --accent-font: 'Chronicle Display';
    --main-fontSize: 18px;
    --bg-color: #354147;
    --main-color: #ffffff;
    --accent-color: #FBD784;
    --sectionTitle-fontSize: 64px;
    --heroTitle-fontSize: 88px;
    --rare-lineHeight: 1.22;
}