.form{
    margin-left: 143px;
    padding-bottom: 66px;
    text-align: center;

    display: flex;
    &--position{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    &__textarea{
        overflow: hidden;
        resize: none;
        display: block;
        border: none;
        border-bottom: 1px solid gold;
        padding: 15px 0 15px 15px;
        margin-bottom: 15px;
        width: calc((100% - 30px) / 2);
        height: 95px;
        background-color: rgba(7, 37, 34, 56%);
        border-radius: 15px;
        outline: none;
    }
    &__email{
        background-color: inherit;
        border: none;
        border-bottom: 1px solid gold;
        background-color: rgba(7, 37, 34, 56%);
        border-radius: 15px;
        margin-bottom: 15px;
        padding: 10px;
    }
    &__button{
        border: none;
        display: inline-block;
        width: calc(100% / 2);
        background-color: chartreuse;
        padding: 10px 0 10px 0;
        border-radius: 15px;
        cursor: pointer;
    }
}
