.section-get{
    padding-top: 204px;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 47.38%);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 125px;
}
.section-block:first-child{
    max-width: 632px;
    margin-right: 114px;
}
.section__link{
    display: flex;
    align-items: center;
    color: var(--accent-color);
}



.section--show{
    opacity: 0;
    transform: translateY(20px);
}
.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

