.header{
    padding-top: 24px;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header-nav{
    &__list{
        display: flex;
    }
    &__item:not(:last-child){
        margin-right: 40px;
    }
    &__link{
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.registration-btn{
    padding: 24px 0;
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: inherit;
    font-size: 17px;
    line-height: 1.23;
    color: inherit;
    cursor: pointer;
    &__text{
        margin-left: 8px;
    }
}