.hero {
  @media screen and (max-width: 1919.98px) {
    padding-top: 130px;
    padding-bottom: 84px;
  }
  padding-top: 174px;
  padding-bottom: 603px;
  display: flex;
  justify-content: space-between;
  &__title {
    max-width: 950px;
    margin-bottom: 56px;
    @media screen and (max-width: 979.98px) {
      max-width: 527px;
    }
  }
  &--center {
    @media screen and (max-width: 676px) {
      max-width: 404px;
    }
    max-width: 950px;
    margin: 0 auto;
  }
}
.social-list {
  position: absolute;
  display: flex;
  bottom: 40px;
  right: 5%;
  &__item:not(:first-child) {
    padding-right: 10px;
    padding-left: 10px;
  }
  @media screen and (min-width: 1200px) {
    position: fixed;
    height: 24px;
    top: 280px;
    left: -90%;
    transform: rotate(90deg) translateX(50%);
    &__link {
      transform: rotate(-90deg);
    }
    &__item:not(:last-child) {
      margin-right: 24px;
    }
    &__item:first-child {
      align-self: center;
      line-height: 22px;
    }
  }
}

.hero__pretitle {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  &::before {
    content: "";
    width: 72px;
    height: 2px;
    margin-right: 32px;
    background-color: var(--accent-color);
  }
}
.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  &-icon{
    padding: 5px;
    animation: down 1500ms linear;
    animation-iteration-count: infinite;
  }
  &--position {
    margin-right: 18px;
    color: inherit;
  }
}
@keyframes down {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(20px);
  }
}
.site-nav-bar {
  z-index: 100;
  display: flex;
  text-align: end;
  position: fixed;
  right: 3%;
  top: 190px;

  
}
.site-nav {
  // &__item:last-child {
  //   padding-top: 70px;
  // }
  &__item{
    transition: color 350ms;
  }
  &__item:hover,
  &__item:focus{
    color: var(--accent-color);
  }
  &__link{
    display: block;
   
      padding-bottom: 20px;
    
    text-decoration: none;
    color: inherit;
  }
}

.top--height {
  height: 100vh;
}


.section-block--none{
  @media screen and (max-width: 979.98px) {
    display: none;
  }
}